[buildout]
develop = .
parts = devpython scripts sphinxbuilder
versions = versions
show-picked-versions = false

[versions]


[devpython]
recipe = zc.recipe.egg
interpreter = devpython
eggs = reg
       pyflakes
       flake8

[scripts]
recipe = zc.recipe.egg:scripts
eggs = reg [test]
       pytest

[sphinxbuilder]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/doc
build = ${buildout:directory}/doc/build
